<h2>Confirm Information</h2>
<p>Monument</p>
<p> Name: <%= h @monument.name %></p>
<p> Description: <%= h @monument.description %></p>
<p> Collection: <%= h @monument.monument_collection.name %></p>
<p> Category: <%= h @monument.category.name %></p>

<% @monument.pictures.each do |picture| %>
  <li>Name: <%= h picture.name %></li>
  <li>Description: <%= h picture.description %></li>
  <li>Date: <%= h picture.date %></li>
<% end %>