<h2>Confirm Information</h2>
<p>Monument</p>
<p> Name: <%= h @monument.name %></p>
<p> Description: <%= h @monument.description %></p>
<p> Collection: <%= h @monument.monument_collection.name %></p>
<% unless @monument.category.nil? %>
	<p> Category: <%= h @monument.category.name %></p>
<% end %>

<%= render 'show_pictures', monument: @monument %>