<%= form_for build_monument(@monument), :html => {:multipart => true} do |f| %>
    <% if @monument.errors.any? %>
    <div>
      <ul class="alert alert-danger" role="alert">
      <% @monument.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= render "#{@monument.current_step}_step", :f => f %>
  <div>
    <%= f.submit 'Next', name: "next_button", class: 'btn btn-primary' unless @monument.last_step? %>
    <%= f.submit 'Save', name: "save_button", class: 'btn btn-primary' if @monument.last_step? %>
    <%= f.submit 'Back', name: "previous_button" unless @monument.first_step?  %>
    <%= link_to 'Back', monuments_path if @monument.first_step? %>
    <%= f.submit "Cancel", name: "cancel_button" %>
  </div>
<% end %>