<%= form_for @monument do |f| %>
    <% if @monument.errors.any? %>
    <div>
      <ul class="alert alert-danger" role="alert">
      <% @monument.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :monument_collection %><br>
    <%= f.collection_select(:monument_collection_id, MonumentCollection.where(user_id: current_user.id), :id, :name) %>
  </div>
  <div class="form-group">
    <%= f.label :category %><br>
    <%= f.collection_select(:category_id, Category.where(user_id: current_user.id), :id, :name) %>
  </div>
  <div class="checkbox">
    <%= f.check_box :public %>
    <%= f.label :public %>
  </div>
  <div>
    <%= f.submit 'Save', class: 'btn btn-primary save-button' %>
  </div>
<% end %>