<h1>Published monuments</h1>

<%= form_tag(stream_path, method: 'get', id: 'search_form') do %>
  <%= search_field(:search, :criteria) %>
  <%= submit_tag("Search") %>
<% end %>

<% @monuments.each do |monument| %>
  <ul class="list-unstyled">
    <li>
      <h3> Name: <%= monument.name %> </h3>
      <div class='div-stream'>
        <div class="coverflow">
          <% monument.pictures.each do |picture| %>
            <div><%= image_tag picture.image.stream.url %></div>
          <% end %>
        </div>
      </div>
    </li>
  </ul>
<% end %>

<script>
    $(function() {
        $('.coverflow').coverflow();
    });
</script>
