<h1>Monument Collections</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monument_collections.each do |m_c| %>
      <tr>
        <td><%= m_c.name %></td>
        <td><%= link_to 'Show', m_c %></td>
        <td><%= link_to 'Edit', edit_monument_collection_path(m_c) %></td>
        <td><%= link_to '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>'.html_safe , m_c, method: :delete, title: 'Delete monument collection', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>'.html_safe , new_monument_collection_path, class: 'btn btn-default pull-right', title: 'Create new monument collection' %>