<%= form_for @category do |f| %>
	<% if @category.errors.any? %>
    <div>
      <ul class="alert alert-danger" role="alert">
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit 'Save', class: 'btn btn-primary save-button' %>
    <%= link_to 'Back', categories_path %>
  </div>
<% end %>
